.container {
    border: 1px solid #28a745;
    padding: 0px;
    background: white;
 }

.pm-filter-form {
     margin: 5px;
 }

.pm-btn-new-container {
    margin: 5px;
}

.pm-title-container {
    padding-left: 10px;
}

.pm-header-container-middle {
    padding-top: 20px;
    padding-left: 200px;
    margin-bottom: 20px;
}

.bootstrap-tagsinput {
  width: 100% !important;
}